## SQL API - Query2

In [1]:
#import spark
from pyspark.sql import SparkSession
from pyspark.sql.types import StructField, StructType, IntegerType, FloatType, StringType
spark = SparkSession \
    .builder \
    .appName("Sql 2 execution") \
    .getOrCreate()

Starting Spark application

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

SparkSession available as 'spark'.

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

In [2]:
#load csv files
data = spark.read.csv(
    "s3://initial-notebook-data-bucket-dblab-905418150721/CrimeData/Crime_Data_from_2010_to_2019_20241101.csv",
    header='true'
)
data_2 = spark.read.csv(
    "s3://initial-notebook-data-bucket-dblab-905418150721/CrimeData/Crime_Data_from_2020_to_Present_20241101.csv",
    header='true'
)
print("Schema of data_1")
data.printSchema()

print("Schema of data_2")
data_2.printSchema()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

Schema of data_1
root
 |-- DR_NO: string (nullable = true)
 |-- Date Rptd: string (nullable = true)
 |-- DATE OCC: string (nullable = true)
 |-- TIME OCC: string (nullable = true)
 |-- AREA : string (nullable = true)
 |-- AREA NAME: string (nullable = true)
 |-- Rpt Dist No: string (nullable = true)
 |-- Part 1-2: string (nullable = true)
 |-- Crm Cd: string (nullable = true)
 |-- Crm Cd Desc: string (nullable = true)
 |-- Mocodes: string (nullable = true)
 |-- Vict Age: string (nullable = true)
 |-- Vict Sex: string (nullable = true)
 |-- Vict Descent: string (nullable = true)
 |-- Premis Cd: string (nullable = true)
 |-- Premis Desc: string (nullable = true)
 |-- Weapon Used Cd: string (nullable = true)
 |-- Weapon Desc: string (nullable = true)
 |-- Status: string (nullable = true)
 |-- Status Desc: string (nullable = true)
 |-- Crm Cd 1: string (nullable = true)
 |-- Crm Cd 2: string (nullable = true)
 |-- Crm Cd 3: string (nullable = true)
 |-- Crm Cd 4: string (nullable = true)
 |-- LOCATION: string (nullable = true)
 |-- Cross Street: string (nullable = true)
 |-- LAT: string (nullable = true)
 |-- LON: string (nullable = true)

Schema of data_2
root
 |-- DR_NO: string (nullable = true)
 |-- Date Rptd: string (nullable = true)
 |-- DATE OCC: string (nullable = true)
 |-- TIME OCC: string (nullable = true)
 |-- AREA: string (nullable = true)
 |-- AREA NAME: string (nullable = true)
 |-- Rpt Dist No: string (nullable = true)
 |-- Part 1-2: string (nullable = true)
 |-- Crm Cd: string (nullable = true)
 |-- Crm Cd Desc: string (nullable = true)
 |-- Mocodes: string (nullable = true)
 |-- Vict Age: string (nullable = true)
 |-- Vict Sex: string (nullable = true)
 |-- Vict Descent: string (nullable = true)
 |-- Premis Cd: string (nullable = true)
 |-- Premis Desc: string (nullable = true)
 |-- Weapon Used Cd: string (nullable = true)
 |-- Weapon Desc: string (nullable = true)
 |-- Status: string (nullable = true)
 |-- Status Desc: string (nullable = true)
 |-- Crm Cd 1: string (nullable = true)
 |-- Crm Cd 2: string (nullable = true)
 |-- Crm Cd 3: string (nullable = true)
 |-- Crm Cd 4: string (nullable = true)
 |-- LOCATION: string (nullable = true)
 |-- Cross Street: string (nullable = true)
 |-- LAT: string (nullable = true)
 |-- LON: string (nullable = true)

In [3]:
# Καταχώρηση ως προσωρινό view για χρήση SQL
data.createOrReplaceTempView("data")
data_2.createOrReplaceTempView("data_2")

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

In [4]:
# Find all unique statuses of crimes
id_query = """
    SELECT DISTINCT Status, `Status Desc`
    FROM data
"""
choices_data = spark.sql(id_query)
for row in choices_data.collect():
    print(row)

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

Row(Status='JA', Status Desc='Juv Arrest')
Row(Status='AA', Status Desc='Adult Arrest')
Row(Status='JO', Status Desc='Juv Other')
Row(Status='CC', Status Desc='UNK')
Row(Status='AO', Status Desc='Adult Other')
Row(Status=None, Status Desc='UNK')
Row(Status='IC', Status Desc='Invest Cont')
Row(Status='13', Status Desc='UNK')
Row(Status='TH', Status Desc='UNK')
Row(Status='19', Status Desc='UNK')

In [5]:
# Find all unique statuses of crimes
id_query = """
    SELECT DISTINCT Status, `Status Desc`
    FROM data_2
"""
choices_data = spark.sql(id_query)
for row in choices_data.collect():
    print(row)

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

Row(Status='JA', Status Desc='Juv Arrest')
Row(Status='AA', Status Desc='Adult Arrest')
Row(Status='JO', Status Desc='Juv Other')
Row(Status='CC', Status Desc='UNK')
Row(Status='AO', Status Desc='Adult Other')
Row(Status='IC', Status Desc='Invest Cont')
Row(Status=None, Status Desc='UNK')

In [6]:
# Find all unique statuses of crimes
id_query = """
    SELECT DISTINCT `AREA `, `AREA NAME`
    FROM data
"""
choices_data = spark.sql(id_query)
for row in choices_data.collect():
    print(row)

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

Row(AREA ='09', AREA NAME='Van Nuys')
Row(AREA ='17', AREA NAME='Devonshire')
Row(AREA ='11', AREA NAME='Northeast')
Row(AREA ='05', AREA NAME='Harbor')
Row(AREA ='03', AREA NAME='Southwest')
Row(AREA ='08', AREA NAME='West LA')
Row(AREA ='06', AREA NAME='Hollywood')
Row(AREA ='13', AREA NAME='Newton')
Row(AREA ='21', AREA NAME='Topanga')
Row(AREA ='01', AREA NAME='Central')
Row(AREA ='15', AREA NAME='N Hollywood')
Row(AREA ='04', AREA NAME='Hollenbeck')
Row(AREA ='12', AREA NAME='77th Street')
Row(AREA ='20', AREA NAME='Olympic')
Row(AREA ='02', AREA NAME='Rampart')
Row(AREA ='19', AREA NAME='Mission')
Row(AREA ='10', AREA NAME='West Valley')
Row(AREA ='07', AREA NAME='Wilshire')
Row(AREA ='18', AREA NAME='Southeast')
Row(AREA ='14', AREA NAME='Pacific')
Row(AREA ='16', AREA NAME='Foothill')

In [7]:
# Find all unique statuses of crimes
id_query = """
    SELECT DISTINCT AREA, `AREA NAME`
    FROM data_2
"""
choices_data = spark.sql(id_query)
for row in choices_data.collect():
    print(row)

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

Row(AREA='09', AREA NAME='Van Nuys')
Row(AREA='17', AREA NAME='Devonshire')
Row(AREA='11', AREA NAME='Northeast')
Row(AREA='05', AREA NAME='Harbor')
Row(AREA='03', AREA NAME='Southwest')
Row(AREA='08', AREA NAME='West LA')
Row(AREA='06', AREA NAME='Hollywood')
Row(AREA='13', AREA NAME='Newton')
Row(AREA='21', AREA NAME='Topanga')
Row(AREA='01', AREA NAME='Central')
Row(AREA='15', AREA NAME='N Hollywood')
Row(AREA='04', AREA NAME='Hollenbeck')
Row(AREA='12', AREA NAME='77th Street')
Row(AREA='20', AREA NAME='Olympic')
Row(AREA='02', AREA NAME='Rampart')
Row(AREA='19', AREA NAME='Mission')
Row(AREA='10', AREA NAME='West Valley')
Row(AREA='07', AREA NAME='Wilshire')
Row(AREA='18', AREA NAME='Southeast')
Row(AREA='14', AREA NAME='Pacific')
Row(AREA='16', AREA NAME='Foothill')

In [8]:
import time

# Ρύθμιση πολιτικής Spark
spark.conf.set("spark.sql.legacy.timeParserPolicy", "LEGACY")

# Χρονική μέτρηση
start_time = time.time()

# SQL Query
query = """
    WITH year_area_stats AS (
        SELECT 
            YEAR(TO_TIMESTAMP(`Date Rptd`, 'MM/dd/yyyy hh:mm:ss a')) AS year,
            `AREA NAME` AS precinct,
            COUNT(*) AS total_cases,
            SUM(CASE 
                WHEN `Status Desc` IN ('Invest Cont', 'UNK') THEN 1 
                ELSE 0 
            END) AS open_cases,
            SUM(CASE 
                WHEN `Status Desc` NOT IN ('Invest Cont', 'UNK') THEN 1 
                ELSE 0 
            END) AS closed_cases
        FROM data
        WHERE YEAR(TO_TIMESTAMP(`Date Rptd`, 'MM/dd/yyyy hh:mm:ss a')) BETWEEN 2010 AND 2019
        GROUP BY YEAR(TO_TIMESTAMP(`Date Rptd`, 'MM/dd/yyyy hh:mm:ss a')), `AREA NAME`
    ),
    closed_case_rate_calc AS (
        SELECT 
            year,
            precinct,
            (closed_cases * 100.0 / total_cases) AS closed_case_rate
        FROM year_area_stats
    ),
    ranked_precincts AS (
        SELECT 
            year,
            precinct,
            closed_case_rate,
            RANK() OVER (PARTITION BY year ORDER BY closed_case_rate DESC) AS rank
        FROM closed_case_rate_calc
    )
    SELECT 
        year,
        precinct,
        closed_case_rate,
        rank
    FROM ranked_precincts
    WHERE rank <= 3
    ORDER BY year, rank
"""

query_2 = """
    WITH year_area_stats AS (
        SELECT 
            YEAR(TO_TIMESTAMP(`Date Rptd`, 'MM/dd/yyyy hh:mm:ss a')) AS year,
            `AREA NAME` AS precinct,
            COUNT(*) AS total_cases,
            SUM(CASE 
                WHEN `Status Desc` IN ('Invest Cont', 'UNK') THEN 1 
                ELSE 0 
            END) AS open_cases,
            SUM(CASE 
                WHEN `Status Desc` NOT IN ('Invest Cont', 'UNK') THEN 1 
                ELSE 0 
            END) AS closed_cases
        FROM data_2
        WHERE YEAR(TO_TIMESTAMP(`Date Rptd`, 'MM/dd/yyyy hh:mm:ss a')) BETWEEN 2020 AND 2024
        GROUP BY YEAR(TO_TIMESTAMP(`Date Rptd`, 'MM/dd/yyyy hh:mm:ss a')), `AREA NAME`
    ),
    closed_case_rate_calc AS (
        SELECT 
            year,
            precinct,
            (closed_cases * 100.0 / total_cases) AS closed_case_rate
        FROM year_area_stats
    ),
    ranked_precincts AS (
        SELECT 
            year,
            precinct,
            closed_case_rate,
            RANK() OVER (PARTITION BY year ORDER BY closed_case_rate DESC) AS rank
        FROM closed_case_rate_calc
    )
    SELECT 
        year,
        precinct,
        closed_case_rate,
        rank
    FROM ranked_precincts
    WHERE rank <= 3
    ORDER BY year, rank
"""


# Εκτέλεση του query
result = spark.sql(query)
result_2 = spark.sql(query_2)

# Συνένωση των αποτελεσμάτων
combined_results = result.union(result_2)

# Προβολή όλων των αποτελεσμάτων
combined_results.show(n=50, truncate=False)  

end_time = time.time()
elapsed_time = end_time - start_time
print(f"Time taken: {elapsed_time:.2f} seconds")

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+----+-----------+-----------------+----+
|year|precinct   |closed_case_rate |rank|
+----+-----------+-----------------+----+
|2010|Rampart    |32.94735585531813|1   |
|2010|Olympic    |31.96270619172842|2   |
|2010|Harbor     |29.63203463203463|3   |
|2011|Olympic    |35.21216768916155|1   |
|2011|Rampart    |32.51177963030083|2   |
|2011|Harbor     |28.65220520201501|3   |
|2012|Olympic    |34.41481831052383|1   |
|2012|Rampart    |32.94641810294290|2   |
|2012|Harbor     |29.81513327601032|3   |
|2013|Olympic    |33.52812271731191|1   |
|2013|Rampart    |32.08287360549222|2   |
|2013|Harbor     |29.16422459266206|3   |
|2014|Van Nuys   |31.80567315834039|1   |
|2014|West Valley|31.31198995605775|2   |
|2014|Mission    |31.16279069767442|3   |
|2015|Van Nuys   |32.64134698172773|1   |
|2015|West Valley|30.27597402597403|2   |
|2015|Mission    |30.17946067838016|3   |
|2016|Van Nuys   |31.88075572011773|1   |
|2016|West Valley|31.54798761609907|2   |
|2016|Foothill   |29.87029184335246|3   |
|2017|Van Nuys   |32.02034211742950|1   |
|2017|Mission    |31.03892518634398|2   |
|2017|Foothill   |30.46922608165753|3   |
|2018|Foothill   |30.70895065507530|1   |
|2018|Mission    |30.69066147859922|2   |
|2018|Van Nuys   |29.07868573051794|3   |
|2019|West Valley|30.77447195094254|1   |
|2019|Mission    |30.74851911685514|2   |
|2019|Foothill   |29.53842186694172|3   |
|2020|West Valley|31.31156039398652|1   |
|2020|Mission    |30.16882799119158|2   |
|2020|Harbor     |30.11040092969204|3   |
|2021|Mission    |30.62377210216110|1   |
|2021|West Valley|28.81677128982589|2   |
|2021|Foothill   |28.31351196446482|3   |
|2022|West Valley|26.66407917717834|1   |
|2022|Harbor     |26.30313626926019|2   |
|2022|Topanga    |26.21687255833597|3   |
|2023|Foothill   |26.80668785408318|1   |
|2023|Topanga    |26.48504711183941|2   |
|2023|Mission    |25.81423401688782|3   |
|2024|N Hollywood|19.60671738194345|1   |
|2024|Foothill   |18.44836533471718|2   |
|2024|77th Street|17.40947075208914|3   |
+----+-----------+-----------------+----+

Time taken: 15.49 seconds